# gradle

.gradle/6.5/
.gradle/buildOutputCleanup/
.gradle/checksums/
.gradle/loom-cache/launch.cfg
.gradle/loom-cache/log4j.xml
.gradle/vcs-1/
.gradle/vcsWorkingDirs/
build/classes/
build/generated/
build/loom-cache/
build/resources/
build/tmp/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# squidcraft
logs/
