# gradle

.gradle/5.5.1/
.gradle/6.2.1/
.gradle/6.3/
.gradle/buildOutputCleanup/
.gradle/checksums/
.gradle/vcs-1/
.gradle/vcsWorkingDirs/
build/classes/
build/generated/
build/loom-cache/
build/resources/
build/tmp/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
